<!DOCTYPE html>
<html>
	<head>
	<link data-require="bootstrap@*" data-semver="3.2.0" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" />
	<script data-require="angular.js@*" data-semver="1.3.6" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="style.css">
    <script src="script.js"></script>
	</head>
	<body ng-app="switchdemo">
	<h1>On/Off switch using Angular JS</h1>
	<div ng-controller="DemoController" ng-init="init()">
		<div class="well">
			<i class="fa fa-toggle-on active"
				ng-if="status == true"
				ng-click="changeStatus();">
			</i>
			<i class="fa fa-toggle-on fa-rotate-180 inactive"
			ng-if="status == false"
			ng-click="changeStatus();">
			</i>
		</div>
		<pre>{{status}}</pre>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script> 
	</body>
</html>